<h2>Ironhack Cinema</h2>
<p>Click on the movie to check the showtimes!</p>


{{#each moviesList}}

    <div id="cartelera">
            
    <img src="{{this.image}}" alt="movies" width="100px">
        {{this.title}}
    <a href="/movies/{{this._id}}">See More</a>  
    
    </div>

{{/each}}



